/*paleta de colores generales del sitio*/
:root{
    --blanco:#ffffff;
    --oscuro:#212121;
    --primario:#8A4ED9;
    --secundario:#0DC5D8;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}
.titulo{
    text-align: center;
    font-size: 3.8rem;
}
 
.titulo span{
    font-size: 2rem;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
 
}
/*media es para validar el responseive de las paginas web a sus tamaños
*/
@media (min-width: 768px){
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}
.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

.hero{
    background-image: url(../img/Aplicacion.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
}
.contenido-hero{
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
}